*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif; 
}

h2{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}

h3{
    font-size: 16px;
    font-weight: 500px;
    margin-top:10px;
    text-align: left;
}

h4{
    font-size: 14px;
    font-style:italic;
    font-weight: 300;
    text-align: left;
    margin-top: 5px;
}

p{
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
}

p1{
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    justify-content: right;
}

a{
    font-size: 14px;
    font-weight: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;   
}

section{
    height: 85vh;
}

/**
Seccion Perfil
*/

section#hero{ 
    background-color: rgba(218, 207, 241, 0.556);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.cv-image{
    display:flex;
    flex-direction:row;
    align-items: center;
}

.cv-image h1{
    width: 600px;
    margin-left: 30px;
    float: left;
    padding-right: 20px;
    font-size: 24px;
    text-align: left;
    font-weight: 300;
    text-transform:initial;
}

.cv-image img{
    width: 200px;
    height: 200px;
    background-color: rgba(245, 245, 245, 0.549);
    border: 1px solid whitesmoke;
    border-radius: 100px;
    float: right;
    margin-right: 30px;
    padding-left: 20px;     
}

/**
Seccion Mis proyectos
*/

section#projects{
    height: fit-content;
    background-color:  whitesmoke;
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
}

.project-detail {
    border: 1px solid grey ;
    border-radius: 10px;
    box-shadow: 2.5px 1px 1px grey;
    width: 300px;
    margin: 20px;
}

.project-detail ul li{
    list-style: none;
    padding: 2.5px;
    font-size: 14px;
    font-weight: 300px;
}

.project-detail img{
    width: 100%;
    border-radius: 10px;
}

/**
Seccion Skills
*/

section#habilidades{
    height: fit-content;
    background-color: whitesmoke;
}

.iconos {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconos ul li{
    display: inline-block;
    margin: 0 20px;
    padding: 0 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: grey;
}

/**
Barra de navegacion 
*/

header{
    position: sticky;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid whitesmoke;
    background-color:  rgba(218, 207, 241, 0.556);
}

header h3{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    float: left;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    justify-content: right;
    list-style: none;

}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: rgba(245, 245, 245, 0.459);
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300px;

}

/**
Seccion Contacto
*/

section#contact{ 
    background-color: rgba(218, 207, 241, 0.556);
}

section#contact h3{
    font-size: 16px;
    font-weight: 400;
    text-align: center;   
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    text-align: center;

}

.contact-form input{
    padding: 10px 20px;
    margin-bottom: 10px;
    background:none;   
    border: 1px solid whitesmoke;
    font-size: 14px;
    font-weight: 300px;
}

.contact-form textarea{
    height: 150px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background:none;   
    border: 1px solid whitesmoke;
    font-size: 14px;
    font-weight: 300px;
}

.contact-form button{
    padding: 10px 20px;
    margin: 10px;
    border:solid 2px whitesmoke;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
    background-color:rgba(245, 245, 245, 0.635);
    font-size: 14px;
    text-transform: uppercase;

}

/**
Seccion footer
*/

.pie-pagina{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid  rgba(218, 207, 241, 0.556) ;
    background-color: whitesmoke;
}

.pie-pagina .grupo-1{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

.pie-pagina .grupo-1 .box{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.pie-pagina .grupo-2{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

}

.pie-pagina .grupo-2 .box{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pie-pagina .grupo-2 .red-social .Linkedin{
    margin-right: 10px;
    background-color: whitesmoke;
    border:none;
    border-bottom: solid 2px rgba(218, 207, 241, 0.556);
    font-size: 12px;
    text-transform: uppercase;
}

.pie-pagina .grupo-2 .red-social .Resume{
    margin-left: 10px;
    background-color: whitesmoke;
    border:none;
    border-bottom: solid 2px rgba(218, 207, 241, 0.556);
    font-size: 12px;
    text-transform: uppercase;
}